.breadcrumb-list {
	@apply whitespace-nowrap overflow-hidden;

	&.fade {
		mask-image: linear-gradient(to right, black 75%, transparent 90%);
	}

	.bchead {
		@apply inline text-sm mr-2 font-medium text-gray-500 dark:text-gray-400;
	}

	// hide first separator; usually gets removed by the backend
	.bchead + .bcsep {
		display: none;
	}

	.bcsep {
		@apply text-gray-400;
	}

	a {
		@apply inline text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white;
	}
}

.page-tool-btn {
	svg {
		@apply w-4 h-4 fill-gray-700 dark:fill-gray-400;
	}

	&:hover svg {
		@apply fill-blue-700 dark:fill-white;
	}
}

// Main content
#dw-content {
	// Underline text
	em.u {
		@apply not-italic underline;
	}

	// dead links
	.wikilink2 {
		@apply decoration-red-500;
	}

	a.urlextern, a.windows, a.mail, a.mediafile, a.interwiki {
		@apply bg-no-repeat bg-left py-0 pr-0 pl-6;
	}

	a.urlextern {
		@apply bg-[url('/lib/tpl/tailwind/icon.php?icon=earth-arrow-right&color=%23374151')];
	}

	a.interwiki {
		@apply bg-[size:1.2rem] bg-transparent bg-no-repeat bg-left bg-[url(/lib/images/interwiki.svg)];
	}

	a.iw_doku {
		@apply bg-[url('/lib/images/interwiki/doku.svg')];
	}

	// Section edit button
	.secedit {
		@apply opacity-0 hover:opacity-100 text-right;

		.btn_secedit {
			@apply
				inline-block absolute
				-translate-x-full // move by its own width to the left
			;

			// add a hovable whitespace at the top of the button
			&::before {
				content: "";
				@apply absolute h-16 w-20 bottom-0 right-0 -z-[1];
			}

			button {
				@apply 
					flex items-center p-2 text-xs font-medium ml-auto -mt-3
					text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700
					focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 focus:outline-none
					dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700
				;
			}
		}
	}

	// hover on the previous sections displays the button
	*:hover + .secedit {
		@apply opacity-100;
	}
}
