@import "flowbite";

// DokuWiki search form
#dw__search {
	@apply relative;

	// Hide the button (usually gets removed by the backend)
	button {
		display: none;
	}
}

// Input field of the search
#qsearch__in {
	@apply
		block w-full p-2 pl-10 text-sm border rounded-lg
		text-gray-900 border-gray-300 bg-gray-50
		focus:ring-blue-500 focus:border-blue-500
		dark:text-white dark:border-gray-600 dark:bg-gray-700 dark:placeholder-gray-400
		dark:focus:ring-blue-500 dark:focus:border-blue-500
	;

	@apply lg:w-96 md:w-80 sm:w-64;
}
