form.doku_form.search-results-form {
	@apply mt-8;

	.search-form {
		@apply relative flex items-center justify-between;

		input {
			@apply
				order-1
				rounded-lg block w-full px-2.5 py-2
				bg-gray-50 border border-gray-300 text-gray-900
				focus:ring-blue-500 focus:border-blue-500
				dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
				dark:focus:ring-blue-500 dark:focus:border-blue-500
			;
		}

		button.toggleAssistant {
			@apply
				order-2
				min-w-fit py-2.5 px-5 mx-2 text-sm font-medium
				text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200
				hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200
				dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400
				dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700
			;
		}

		div.advancedOptions {
			@apply
				order-3 z-10 absolute top-14 right-0
				bg-white rounded-lg shadow dark:bg-gray-700
			;

			div.current {
				@apply flex items-center justify-between w-full px-4 py-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;

				&:after {
					@apply
						w-4 h-4 ml-2 mb-1
						content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%236b7280')]
						dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%239ca3af')]
					;
				}
			}

			div.toggle ul {
				@apply hidden;
			}

			div.toggle.open ul {
				@apply block;
			}
		}

		button[type="submit"] {
			@apply
				order-4 mr-0
				font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
				text-white bg-blue-700 hover:bg-blue-800
				focus:ring-4 focus:outline-none focus:ring-blue-300
				dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800			;
		}
	}
}
