// Base styles applied for the other pages
.dw-action-admin, .dw-action-plugin {
	.leftalign {
		@apply text-left;
	}
	.centeralign {
		@apply text-center;
	}
	.rightalign {
		@apply text-right;
	}

	.medialeft {
		@apply float-left;
	}
	.mediaright {
		@apply float-right;
	}
	.mediacenter {
		@apply block mx-auto;
	}

	div.no {
		@apply inline m-0 p-0;
	}

	a {
		@apply link-primary;

		> img {
			@apply m-0 inline;
		}
	}

	label {
		@apply input-label;
	}

	input {
		&[type="text"], &[type="password"], &[type="email"] {
			@apply input-text;
		}

		&[type="checkbox"] {
			@apply input-checkbox;
		}

		&[type="file"] {
			@apply input-file;
		}
	}

	textarea {
		@apply input-text;
	}

	select {
		@apply input-select;
	}

	button {
		@apply btn-primary;
	}

	div.table {
		@apply mb-4 w-full block overflow-x-auto;
	}

	table {
		@apply w-full max-w-full text-sm text-left text-primary;

		input[type="text"], input[type="password"], input[type="email"], select, textarea {
			@apply w-full text-sm;
		}
	}

	thead {
		@apply text-xs uppercase text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400;

		input {
			&[type="text"], &[type="password"], &[type="email"] {
				@apply bg-white dark:bg-gray-800;
			}
		}
	}

	// yeah this exists
	tbody + tbody tr:first-child {
		@apply border-t border-[--tw-prose-td-borders];
	}

	tbody tr:not(:last-child) {
		@apply border-b;
	}

	th, td {
		@apply px-4 py-3 align-middle;
	}
}

// Specific styles
.dw-action-admin {

	// User manager
	&.dw-page-usermanager {
		table button {
			&[name="fn[start]"], &[name="fn[prev]"], &[name="fn[next]"], &[name="fn[last]"] {
				&:not([disabled]) {
					@apply btn-secondary;
				}
				&[disabled] {
					@apply btn-secondary-disabled;
				}
			}
		}

		div.import_users form {
			@apply flex items-center;

			label {
				@apply flex items-center flex-grow input-label;

				input {
					@apply mx-2 flex-grow;
				}
			}
		}
	}

	// Config manager
	&.dw-page-config {
		// hide anchor links
		h1, h2, h3 {
			@apply mt-8 mb-6;

			a {
				@apply hidden;
			}
		}

		// tables
		fieldset {
			@apply mb-6 scroll-mt-20;

			// table header
			legend {
				@apply box-header font-medium;
			}

			div.table {
				@apply w-full border-x box-b mb-0;
			}

			table {
				@apply !table my-0 table-fixed w-full max-w-full;
			}

			// add a table footer
			&:after {
				content: '';
				@apply box-footer p-0 h-4;
			}
		}

		// setting label
		td.label {
			@apply w-[60%] text-left;

			.outkey {
				@apply
					block -mt-3 -ml-2.5 rounded z-10 relative float-left text-[0.6rem] font-light
					bg-white dark:bg-gray-800
				;
			}

			label {
				@apply order-1 block clear-left align-middle;
			}

			img {
				@apply order-2 block m-0 px-4 py-0 align-middle float-right;
			}
		}

		// setting value
		td.value {
			@apply w-[40%];
		}

		button[type="submit"] {
			@apply mr-2;
		}

		button[type="reset"] {
			@apply btn-secondary;
		}
	}

	// popularity page
	&.dw-page-popularity form {
		@apply w-full;

		fieldset {
			@apply !w-full;

			textarea {
				@apply !w-full input-text mb-6;
			}

			label[for] {
				@apply input-label;
			}

			button[type="submit"] {
				@apply btn-primary mt-4 mb-4;
			}
		}
	}

	// Revert page
	&.dw-page-revert {
		// search form
		form:first-of-type div.no {
			@apply flex items-center flex-wrap;

			input[type="text"] {
				@apply mx-2 flex-grow;
			}

			span {
				@apply mt-2 font-medium text-sm text-secondary basis-full;
			}
		}

		hr {
			@apply mt-0 mb-4;
		}

		// page revert form
		form:not(:first-of-type) div.no {
			> ul {
				label {
					@apply text-base;
				}

				+ p {
					@apply mt-3 font-medium text-sm text-secondary;

					button {
						@apply block;
					}
				}
			}
		}
	}
}
