// Specific styles
.dw-action-admin {

	// User manager
	&.dw-page-usermanager {
		table button {
			&[name="fn[start]"], &[name="fn[prev]"], &[name="fn[next]"], &[name="fn[last]"] {
				&:not([disabled]) {
					@apply btn-secondary;
				}
				&[disabled] {
					@apply btn-secondary-disabled;
				}
			}
		}

		div.import_users form {
			@apply flex items-center;

			label {
				@apply flex items-center flex-grow input-label;

				input {
					@apply mx-2 flex-grow;
				}
			}
		}
	}

	// Config manager
	&.dw-page-config {
		// hide anchor links
		h1, h2, h3 {
			@apply mt-8 mb-6;

			a {
				@apply hidden;
			}
		}

		// tables
		fieldset {
			@apply mb-6 scroll-mt-20;

			// table header
			legend {
				@apply box-header mb-0 text-base font-medium;
			}

			div.table {
				@apply w-full border-x box-b mb-0;
			}

			table {
				@apply !table my-0 table-fixed w-full max-w-full;
			}

			// add a table footer
			&:after {
				content: '';
				@apply box-footer p-0 h-4;
			}
		}

		// setting label
		td.label {
			@apply w-[60%] text-left;

			.outkey {
				@apply
					block -mt-3 -ml-2.5 rounded z-10 relative float-left text-[0.6rem] font-light
					bg-white dark:bg-gray-800
				;
			}

			label {
				@apply order-1 block clear-left align-middle;
			}

			img {
				@apply order-2 block m-0 px-4 py-0 align-middle float-right;
			}
		}

		// setting value
		td.value {
			@apply w-[40%];
		}

		button[type="submit"] {
			@apply mr-2;
		}

		button[type="reset"] {
			@apply btn-secondary;
		}
	}

	// popularity page
	&.dw-page-popularity form {
		@apply w-full;

		fieldset {
			@apply !w-full;

			textarea {
				@apply !w-full input-text mb-6;
			}

			label[for] {
				@apply input-label;
			}

			button[type="submit"] {
				@apply btn-primary mt-4 mb-4;
			}
		}
	}

	// Revert page
	&.dw-page-revert {
		// search form
		form:first-of-type div.no {
			@apply flex items-center flex-wrap;

			input[type="text"] {
				@apply mx-2 flex-grow;
			}

			span {
				@apply mt-2 font-medium text-sm text-secondary basis-full;
			}
		}

		hr {
			@apply mt-0 mb-4;
		}

		// page revert form
		form:not(:first-of-type) div.no {
			> ul {
				label {
					@apply text-base;
				}

				+ p {
					@apply mt-3 font-medium text-sm text-secondary;

					button {
						@apply block;
					}
				}
			}
		}
	}

	// Log viewer
	&.dw-page-logviewer {
		form.doku_form {
			@apply mt-2 -mb-14 float-right;

			label {
				@apply flex items-center;

				span {
					@apply mr-2;
				}

				input {
					@apply text-sm;
				}
			}
		}

		// Search
		#plugin__logviewer > label {
			@apply flex items-center box-header mt-4;

			input {
				@apply ml-2 flex-grow input-text bg-white dark:bg-gray-800;
			}
		}

		// Log panel
		dl {
			@apply
				p-4 font-mono text-sm leading-7 whitespace-break-spaces overflow-auto
				text-gray-200 bg-gray-800
			;

			dt {
				@apply font-medium space-x-2;
			}

			dd {
				@apply mb-4 text-gray-300;
			}
		}
	}

	&.dw-page-extension {
		#extension__viewoptions {
			@apply flex items-center;

			label {
				@apply ml-3;
			}
		}

		ul.extensionList {
			@apply p-0 mt-8 list-none;

			// extensions, templates, ...
			li {
				@apply m-0 px-0 py-6 border-t box-b;

				&:last-child {
					@apply border-b;
				}

				.legend {
					@apply flex-grow;
				}

				a {
					@apply text-inherit no-underline hover:underline;
				}

				// header
				.extension-header {
					@apply flex items-center;

					// name and author
					h2 {
						@apply my-0 font-medium text-sm text-secondary;

						strong {
							@apply font-semibold text-lg text-primary;
						}

						a img {
							@apply rounded-full mb-1;
						}
					}

					.popularity {
						@apply ml-2 w-12 h-[0.6rem] rounded-[0.3rem] bg-gray-200 dark:bg-gray-700;

						> * {
							@apply h-[0.6rem] rounded-[0.3rem] bg-gray-400 dark:bg-gray-500;
						}
					}

					// button, that displays the extension actions
					> button {
						@apply
							inline-flex items-center ml-auto p-0.5 text-sm font-medium text-center rounded-lg focus:outline-none
							text-gray-500 hover:text-gray-800 bg-transparent
							dark:text-gray-400 dark:hover:text-gray-100
						;
					}

					// action dropdown
					.actions {
						@apply divide-y-0;

						button {
							@apply bg-transparent rounded-none text-left dropdown-element;
						}

						p {
							@apply m-0 px-4 pt-2 pb-4 text-xs text-secondary;
						}
					}
				}

				// hide the screenshot
				.screenshot {
					@apply hidden;
				}

				// description
				p {
					@apply my-4 font-medium text-secondary;
				}

				// links
				.linkbar {
					@apply block font-medium text-sm text-secondary space-x-4;

					// truncate, if the links are not hovered
					&:not(:hover) {
						@apply truncate;
					}

					// tag list
					.tags {
						@apply text-gray-700 dark:text-gray-200;

						a {
							@apply text-secondary;
						}
					}
				}

				// Show further info
				a.info {
					@apply block mt-5 text-xs font-semibold text-secondary;

					&.close {
						@apply mb-6 text-gray-400 dark:text-gray-500;
					}
				}

				// Template details
				dl {
					@apply grid grid-cols-[auto_minmax(0,_1fr)];

					dt, dd {
						@apply py-1 text-sm font-medium;
					}

					dt {
						@apply text-primary mr-4 truncate;
					}

					dd {
						@apply text-secondary text-right;

						// truncate, if not hovered
						&:not(:hover) {
							@apply truncate;
						}
					}
				}
			}
		}
	}

	// acl manager
	&.dw-page-acl {
		#acl__tree {
			@apply w-1/4 h-80 pr-4 mr-4 text-sm float-left overflow-auto border-r box-b;

			ul {
				@apply pl-0 list-none;

				ul {
					@apply pl-4;
				}
			}

			li {
				@apply pl-0;
			}

			img {
				@apply inline m-0 cursor-pointer;
			}

			div.li {
				@apply inline;

				a {
					@apply
						text-secondary font-medium no-underline
						hover:text-gray-700 hover:dark:text-gray-300
					;

					&.idx_dir {
						@apply ml-1;
					}

					&.wikilink1 {
						@apply font-semibold;
					}
				}
			}
		}

		#acl__detail {
			#acl__user {
				@apply text-sm;

				button {
					@apply py-2;
				}
			}
		}

		table .action {
			@apply text-right;
		}
	}
}
