@import "mediafile.css";
@import "codestyle.css";

.breadcrumb-list {
	@apply w-full text-sm font-medium whitespace-nowrap overflow-hidden;

	&.fade {
		mask-image: linear-gradient(to right, black 75%, transparent 90%);
	}

	.bchead {
		@apply inline mr-2 text-gray-500 dark:text-gray-400;
	}

	// hide first separator; usually gets removed by the backend
	.bchead + .bcsep {
		display: none;
	}

	.bcsep {
		@apply text-gray-400 dark:text-gray-500;
	}

	a {
		@apply
			inline text-gray-700 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white
		;
	}
}

.page-tool-btn {
	svg {
		@apply w-4 h-4 fill-gray-700 dark:fill-gray-400;
	}

	&:hover svg {
		@apply fill-blue-700 dark:fill-white;
	}
}

// Main content and left sidebar
.dw-content, .dw-sidebar {
	// increase the font weight of h5 headers
	h5 {
		@apply font-semibold;
	}

	// Underline text
	em.u {
		@apply not-italic underline;
	}

	// current link
	.curid, .curid a {
		@apply font-semibold;
	}

	// regular links
	a.wikilink1, a.urlextern, a.mail, a.windows, a.mediafile, a.interwiki {
		@apply link-primary font-inherit;
	}

	// Special links with icons
	a.urlextern, a.mail, a.windows, a.mediafile, a.interwiki {
		@apply bg-no-repeat bg-left bg-contain py-0 pr-0 pl-[1.35rem] ml-0.5;
	}

	// Link icons have the forground #6b7280 (same as gray-500) or #9ca3af (same as gray-400) at dark mode.

	a.urlextern {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=link-external&color=%236b7280')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=link-external&color=%239ca3af')]
		;
	}
	a.mail {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=email&color=%236b7280')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=email&color=%239ca3af')]
		;
	}
	a.windows {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=windows-share&color=%236b7280')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=windows-share&color=%239ca3af')]
		;
	}

	// for "a.mediafile" see the import statement at the top of this file

	a.interwiki {
		&.iw_amazon, &.iw_amazon_de, &.iw_amazon_uk {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=amazon&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=amazon&color=%239ca3af')]
			;
		}
		&.iw_callto, &.iw_tel {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=callto&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=callto&color=%239ca3af')]
			;
		}
		&.iw_doku {
			@apply bg-[url('/lib/images/interwiki/doku.svg')];
		}
		&.iw_go, &.iw_google {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=google&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=google&color=%239ca3af')]
			;
		}
		&.iw_paypal {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=paypal&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=paypal&color=%239ca3af')]
			;
		}
		&.iw_phpfn {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=php&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=php&color=%239ca3af')]
			;
		}
		&.iw_rfc {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=rfc&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=rfc&color=%239ca3af')]
			;
		}
		&.iw_skype {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=skype&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=skype&color=%239ca3af')]
			;
		}
		&.iw_this {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=rss&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=rss&color=%239ca3af')]
			;
		}
		&.iw_user {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=user&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=user&color=%239ca3af')]
			;
		}
		&.iw_man {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=cmd&color=%236b7280')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=cmd&color=%239ca3af')]
			;
		}
		&.iw_wp, &.iw_wpde, &.iw_wpes, &.iw_wpfr, &.iw_wpjp, &.iw_wpmeta, &.iw_wppl {
			@apply // icons are gray-900 / gray-100 because the Wikipedia logo is too thin
				bg-[url('/lib/tpl/tailwind/icon.php?icon=wikipedia&color=%23111827')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=wikipedia&color=%23f3f4f6')]
			;
		}
	}

	// dead links
	a.wikilink2 {
		@apply link-error font-inherit;
	}

	// Fix the margin in downloadable code blocks
	dl.code, dl.file {
		@apply mt-6 mb-7;

		dt {
			@apply
				flex flex-nowrap items-center justify-between space-x-4 w-full pl-4 pr-3 py-3 border
				border-gray-200 bg-gray-50 rounded-t-lg dark:border-gray-600 dark:bg-gray-700
			;
		}

		dd {
			@apply
				p-0 bg-white bg-gradient-to-r border-x border-b rounded-b-lg
				border-gray-200  dark:bg-gray-900 dark:border-gray-600
			;

			pre.code {
				@apply m-0 rounded-t-none rounded-b-lg;
			}
		}
	}

	// Images
	img.media, img.mediaright, img.medialeft, img.mediacenter {
		@apply inline m-0 h-[revert-layer];
	}
	img.mediaright {
		@apply float-right;
	}
	img.medialeft {
		@apply float-left;
	}
	img.mediacenter {
		@apply block mx-auto;
	}

	img.icon.smiley {
		@apply inline h-[1.2rem] m-0;
	}

	// Footnotes (in text)
	a.fn_top {
		@apply no-underline;
	}
}

// Other styles of the main content not included in the sidebar
.dw-content {
	// Section edit button
	.secedit {
		@apply opacity-0 hover:opacity-100 text-right;

		.btn_secedit {
			@apply
				inline-block absolute
				-translate-x-full // move by its own width to the left
			;

			// add a hovable whitespace at the top of the button
			&::before {
				content: "";
				@apply absolute h-16 w-20 bottom-0 right-0 -z-[1];
			}

			button {
				@apply btn-icon ml-auto -mt-3;
			}
		}
	}

	// hover on the previous sections displays the button
	*:hover + .secedit {
		@apply opacity-100;
	}

	// Footnotes (at the bottom)
	.footnotes {
		a {
			@apply no-underline;
		}

		.content {
			@apply inline;
		}
	}
}

// Footer
footer .license a {
	@apply inline-block underline;
}

.error {
	@apply mb-8 p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
}
