.diffoptions {
	@apply mt-6 flex flex-nowrap items-center;

	.doku_form {
		@apply flex-grow;

		.quickselect {
			span {
				@apply input-label mr-2;
			}

			select {
				@apply input-select inline-block;
			}
		}

		& + p {
			@apply my-0;
		}
	}

	.difflink {
		@apply btn-secondary no-underline;
	}
}

// Diff header and footer for having round edges

.diff-header, .diff-footer {
	@apply box-hf w-full h-4 block border-x;
}

.diff-header {
	@apply mt-6 border-t rounded-t-xl ;
}

.diff-footer {
	@apply border-b rounded-b-xl ;
}

table.diff {
	@apply w-full overflow-x-auto;

	tr:first-child td, th {
		@apply box-hf border-b;

		&:first-child {
			@apply border-l;
		}
		&:last-child {
			@apply border-r;
		}
	}

	tr:last-child {
		th, td {
			@apply box-b border-b;
		}
	}

	th {
		@apply text-secondary p-4 w-1/2 text-sm font-medium bg-white dark:bg-gray-800;

		.sum {
			@apply text-primary;
		}
	}

	.diffnav {
		@apply text-center pb-4;

		a {
			@apply btn-icon align-middle inline-flex;

			&.diffbothprevrev {
				@apply mr-2;
			}

			&.diffbothnextrev {
				@apply ml-2;
			}

			span {
				@apply hidden;
			}

			&:before {
				@apply w-4 h-4;
			}
		}

		a.diffbothprevrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-left&color=%236b7280')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-left&color=%239ca3af')]
			;
		}

		a.diffprevrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-left&color=%236b7280')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-left&color=%239ca3af')]
			;
		}

		a.diffbothnextrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-right&color=%236b7280')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-right&color=%239ca3af')]
			;
		}

		a.diffnextrev:before, a.difflastrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%236b7280')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%239ca3af')]
			;
		}

		.doku_form {
			@apply inline;
		}

		select.quickselect {
			@apply input-select inline mx-2 py-2 w-[50%] bg-white dark:bg-gray-800;
		}
	}

	// Default formatting of table cells
	td:not(.diffnav) {
		@apply p-1 font-mono align-middle text-sm;

		&.empty {
			@apply bg-gray-100 dark:bg-gray-800;
		}

		// Borders
		&:first-child, &.diff-lineheader, &.empty {
			@apply box-b border-l;
		}

		&:last-child {
			@apply box-b border-r;
		}

		&.diff-blockheader {
			@apply text-secondary px-3 py-1.5 font-medium bg-sky-100 dark:bg-sky-900;
		}

		&.diff-lineheader {
			@apply px-1.5 w-0 text-center align-top bg-gray-50 dark:bg-gray-800/[0.5];

			&.added {
				@apply bg-green-100 dark:bg-green-900;
			}
			&.deleted {
				@apply bg-red-100 dark:bg-red-900;
			}
		}

		&.diff-context {
			// Keep empty
		}

		&.diff-addedline {
			@apply align-top bg-green-50 dark:bg-green-950;

			.diff-mark {
				@apply bg-green-200 dark:bg-green-800;
			}
		}

		&.diff-deletedline {
			@apply align-top bg-red-50 dark:bg-red-950;

			.diff-mark {
				@apply bg-red-200 dark:bg-red-800;
			}
		}
	}
}

// Modifications for the inline diff editor
table.diff_inline {
	td:not(.diffnav) { // using the same selector to have the same precedence
		&.diff-lineheader {
			@apply p-0 w-[0%];
		}

		.diff-addedline {
				@apply bg-green-200 dark:bg-green-800;
		}

		.diff-deletedline {
				@apply bg-red-200 dark:bg-red-800;
		}

		&.diff-addedline {
			@apply bg-green-100 dark:bg-green-900;
		}

		&.diff-deletedline {
			@apply bg-red-100 dark:bg-red-900;
		}
	}
}

// Modifications for the draft page
table.diff_sidebyside {
	tr:first-child th {
		@apply border-t;
	}
}
