// Media manager sidebar
.dw-sidebar div.namespaces {
	h2 {
		@apply mt-0 mb-1;
	}

	.panelHeader {
		@apply text-secondary font-medium;
	}

	// Tree view
	.panelContent {
		@apply mt-4;

		ul {
			@apply pl-0;

			ul {
				@apply pl-4;
			}
		}

		li {
			@apply list-none pl-0;
		}

		img {
			@apply inline m-0 cursor-pointer;
		}

		div.li {
			@apply inline ml-1;

			a {
				@apply
					text-secondary font-medium no-underline
					hover:text-gray-700 hover:dark:text-gray-300
				;
			}
		}
	}
}

// Media manager content
#mediamanager__page {
	// Hide namespaces because they where moved to the sidebar
	.namespaces {
		@apply hidden;
	}

	.panel .a11y {
		@apply hidden;
	}
}

#mediamanager__page {
	.a11y {
		@apply hidden;
	}

	.panel.filelist, .panel.file {
		@apply w-full;

		ul.tabs {
			@apply tab-container;

			li {
				a {
					@apply tab-inactive;
				}

				strong {
					@apply tab-active;
				}

				&.file .disabled {
					@apply tab-disabled;
				}
			}
		}

		.panelHeader {
			@apply box-header py-2.5 pr-2.5 mt-8 flex items-center justify-between;

			&.a11y {
				@apply hidden;
			}

			h3 {
				@apply font-medium;

				strong > strong {
					@apply font-bold;
				}
			}
		}

		.panelContent {
			@apply box-b !h-auto border-x border-b rounded-b-lg overflow-auto;
		}

		img.load {
			@apply p-4 w-6 h-6;
		}
	}

	.ui-resizable-handle {
		@apply hidden;
	}
}

#mediamanager__page .panel.filelist {
	.panelHeader {
		form.options ul {
			@apply flex items-center space-x-3;

			// Control groups
			.ui-controlgroup {
				@apply toggle-box;

				.ui-button {
					@apply toggle-button;

					&:not(.ui-state-active) {
						@apply toggle-button-inactive;
					}

					&.ui-state-active {
						@apply toggle-button-active;
					}
				}

				input {
					@apply hidden;
				}
			}
		}
	}

	.panelContent {
		&.a11y {
			@apply hidden;
		}

		ul {
			&.rows {
				@apply divide-y divide-gray-200 dark:divide-gray-700;

				dl {
					@apply px-4 py-2 flex items-center hover:box-hf-bg;

					dt {
						@apply float-left text-center;

						img {
							@apply w-7 h-7 mr-4;
						}
					}

					dd {
						@apply font-medium;
					}

					dd.name {
						@apply flex-grow truncate;

						a {
							@apply link-primary;
						}
					}

					dd.size {
						@apply text-secondary w-[15%] truncate;
					}

					dd.date {
						@apply text-secondary w-[15%] truncate;
					}

					dd.filesize {
						@apply text-secondary w-[20%] text-right truncate;
					}
				}
			}

			&.thumbs {
				@apply grid grid-cols-4 p-4 gap-4;

				li {
					@apply
						flex flex-col space-y-2 max-w-sm border rounded-lg shadow hover:box-hf-bg
						bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700
					;

					dt {
						@apply my-4;

						img {
							@apply w-16 h-16 mx-auto;
						}
					}

					dd {
						@apply mx-3 font-medium;

						&:last-child {
							@apply mb-3;
						}
					}

					dd.name {
						@apply mb-2 truncate;

						a {
							@apply link-primary;
						}
					}

					dd.size, dd.date, dd.filesize {
						@apply text-secondary text-sm truncate;
					}
				}
			}
		}

		.ui-resizable-handle {
			@apply hidden;
		}

		div.upload {
			@apply p-4;

			#mediamanager__uploader {
				@apply mt-6;

				.qq-upload-button {
					@apply btn-secondary inline-block;
				}

				.qq-upload-list {
					@apply mt-3;

					li {
						@apply py-2 flex items-baseline;

						.qq-upload-name-input {
							@apply input-text px-3 py-2 mr-2 w-1/2 text-sm;
						}

						.qq-upload-cancel {
							@apply btn-secondary p-2 mr-auto;
						}
					}
				}

				.qq-action-container {
					@apply mt-8 flex items-center;

					.qq-upload-action {
						@apply btn-primary;
					}

					.qq-overwrite-check {
						@apply ml-4;

						input[type="checkbox"] {
							@apply input-checkbox mr-0.5;
						}

						span {
							@apply input-label;
						}
					}
				}

				.qq-uploader {
					> li {
						@apply space-x-2;
					}

					.qq-upload-file {
						@apply text-primary font-medium;

						a {
							@apply link-primary;
						}
					}

					.qq-upload-size {
						@apply text-secondary ml-1.5 mr-auto font-medium text-sm;
					}
				}

				.qq-upload-failed-text {
					@apply hidden;
				}

				.qq-upload-fail .qq-upload-failed-text {
					@apply inline m-0 px-2 py-1.5 truncate;
				}
			}

			.maxsize {
				@apply text-secondary mt-3 text-sm;

				.allowedmime {
					@apply underline;
				}
			}
		}

		div.search {
			@apply divide-y divide-gray-200 dark:divide-gray-700;

			#dw__mediasearch {
				@apply p-4;

				div.no p, label {
					@apply flex items-center space-x-4;
				}

				label {
					@apply flex-grow;

					span {
						@apply input-label;
					}

					input {
						@apply input-text flex-grow;
					}
				}

				button {
					@apply btn-primary;
				}
			}
		}
	}
}

#mediamanager__page .panel.file {
	.tabs {
		@apply !hidden;
	}

	.panelHeader {
		a {
			@apply link-primary;
		}

		#mediamanager__btn_delete button {
			@apply btn-secondary px-2.5 py-1.5 hover:text-red-600 dark:hover:text-red-400;
		}
	}

	.panelContent {
		@apply flex flex-col;

		.image {
			@apply px-4 py-6 border-b box-b;

			img {
				@apply mx-auto;
			}
		}

		dl {
			@apply p-4;

			dt, dd {
				@apply py-1 text-base font-medium truncate;
			}

			dt {
				@apply text-primary;
			}

			dd {
				@apply text-secondary;
			}
		}

		// first dl
		dl:first-of-type {
			@apply grid grid-cols-2 border-b box-b;

			dd {
				@apply text-right;
			}
		}

		// second dl
		dl:last-of-type {
			a {
				@apply link-primary;
			}
		}

		form.changes {
			@apply px-4;
		}
	}
}
