form.doku_form.search-results-form {
	@apply mt-10;

	.search-form {
		@apply relative flex items-center justify-between;

		input {
			@apply input-text order-2 w-full;
		}

		button.toggleAssistant {
			@apply btn-white order-1 mr-2 flex items-center space-x-2 min-w-fit;

			&:after {
				@apply
					w-4 h-4 ml-1 -mr-1 mb-1
					content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=%23111827')]
					dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=%239ca3af')]
				;
			}

			&[aria-expanded="true"]:after {
				@apply
					content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-up&color=%23111827')]
					dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-up&color=%239ca3af')]
				;
			}
		}

		div.advancedOptions {
			@apply dropdown-container order-3 py-2 absolute top-14 left-0;

			div.current {
				@apply dropdown-element flex items-center justify-between cursor-pointer;

				&:after {
					@apply
						w-4 h-4 ml-2 mb-1
						content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%236b7280')]
						dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=%239ca3af')]
					;
				}
			}

			div.toggle {
				@apply relative w-full;

				ul { // the option dropdown
					@apply dropdown-container order-3 absolute -top-2 -right-1 translate-x-full text-sm;
				}

				ul[aria-expanded="true"] {
					@apply block;
				}

				li {
					@apply text-secondary p-0 block px-4 py-2;
				}

				li:not(.active) {
					@apply hover:bg-gray-100 dark:hover:bg-gray-600;
				}

				li > a {
					@apply cursor-pointer no-underline text-gray-700 dark:text-gray-200;
				}
			}
		}

		button[type="submit"] {
			@apply btn-primary order-3 ml-2;
		}
	}
}

.search-box {
	@apply mt-6 w-full;

	.search-header {
		@apply box-header px-2.5 pt-2.5 pb-0 flex align-bottom font-medium;
	}

	.search-tab {
		@apply
			text-secondary px-5 py-2 inline-flex items-center justify-center first:mr-1 -mb-px
			z-[1] overflow-auto border-x border-t border-transparent
			hover:text-gray-600 dark:hover:text-gray-300
		;

		&.active {
			@apply box-b rounded-t-md text-gray-700 bg-white dark:text-gray-200 dark:bg-gray-900;
		}

		.count {
			@apply
				px-2.5 py-0.5 ml-2 inline-flex items-center justify-center text-xs font-semibold rounded-full
				text-gray-800 bg-gray-200 dark:text-gray-300 dark:bg-gray-600
			;
		}

		&.active .count {
			@apply dark:bg-gray-700;
		}
	}

	.search_quickresult, .search_fulltextresult {
		@apply box-b hidden border-x border-b rounded-b-md max-h-[50vh] overflow-x-hidden overflow-y-auto;

		&.active {
			@apply block;
		}
	}

	.search_quickresult .search_quickhits {
		@apply pl-0 text-sm font-medium;

		li {
			@apply list-none p-0 m-0;
		}

		a {
			@apply list-element;
		}

		li:last-child a {
			@apply border-0;
		}
	}

	.search_fulltextresult {
		.search_results {
			@apply p-4 divide-y;
		}

		.search_fullpage_result {
			@apply py-4 first:pt-0 last:pb-0;

			dt {
				@apply text-primary text-base font-semibold;

				a:not(.wikilink1) {
					@apply text-secondary no-underline hover:text-gray-600 dark:hover:text-gray-300;
				}
			}

			dd.meta {
				@apply text-sm font-normal mb-3 text-gray-400 dark:text-gray-500;
			}

			dd.snippet {
				@apply text-sm font-normal leading-relaxed;

				.search_hit {
					@apply px-0.5 py-0.5 rounded font-medium text-yellow-800 bg-yellow-100 dark:text-yellow-300 dark:bg-yellow-900;
				}
			}
		}
	}

	.nothing-found {
		@apply my-8 text-center font-semibold text-xl;
	}
}

.nothing {
	@apply hidden;
}
