@layer components {
	.list-container {
		@apply
			text-primary box-b
			w-full p-0 text-sm font-medium rounded-lg border list-none
			bg-white dark:bg-gray-700
		;
	}

	.list-element {
		@apply
			box-b block w-full px-4 py-2 border-b cursor-pointer no-underline
			focus:outline-none focus:ring-2
			!text-primary
			hover:bg-gray-100 hover:text-blue-700
			focus:ring-blue-700 focus:text-blue-700
			dark:border-gray-600 dark:hover:text-white
			dark:focus:ring-gray-500 dark:focus:text-white
		;
	}

	.list-element-first {
		@apply rounded-t-lg;
	}

	.list-element-last {
		@apply border-b-0 rounded-b-lg;
	}
}
