@layer components {
	.btn-primary {
		@apply
			px-4 py-2 font-semibold text-sm rounded-md text-center
			focus:ring-2 focus:outline-none shadow-sm
			text-white bg-primary-700 hover:bg-primary-800 focus:ring-primary-300
			dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
		;
	}

	.btn-primary-disabled {
		@apply
			px-3.5 py-2 font-semibold text-sm rounded-md text-center cursor-not-allowed
			text-white bg-primary-400
			dark:text-gray-400 dark:bg-primary-800
		;
	}

	.btn-secondary {
		@apply
			px-4 py-2 font-semibold text-sm rounded-md text-center
			ring-1 ring-inset shadow-sm
			text-gray-900 bg-white ring-gray-300 hover:bg-gray-50
			dark:text-gray-400 dark:bg-gray-800 dark:ring-gray-600 dark:hover:bg-gray-700/60
		;
	}

	.btn-secondary-disabled {
		@apply
			px-3.5 py-2 font-semibold text-sm rounded-md text-center cursor-not-allowed
			ring-1 ring-inset shadow-sm
			text-gray-400 bg-gray-50 ring-gray-300
			dark:text-gray-600 dark:bg-gray-800 dark:ring-gray-600
		;
	}

	.btn-icon {
		@apply 
			flex items-center p-[0.5rem] font-semibold text-sm rounded-md text-center
			ring-1 ring-inset shadow-sm
			text-gray-900 bg-white ring-gray-300 hover:bg-gray-50
			dark:text-gray-400 dark:bg-gray-800 dark:ring-gray-600 dark:hover:bg-gray-700/60
		;
	}

	.btn-link {
		@apply
			font-medium rounded-lg
			text-gray-700 bg-transparent hover:text-gray-900
			dark:text-gray-300 dark:hover:text-white
		;
	}

	.toggle-box {
		@apply
			inline-flex items-center flex-row border rounded-lg
			bg-gray-200/[0.6] border-gray-200 dark:bg-gray-700 dark:border-gray-600
		;
	}

	.toggle-button {
		@apply px-4 py-2 -m-px border rounded-lg text-secondary text-sm font-medium;
	}

	.toggle-button-inactive {
		@apply cursor-pointer border-transparent;

		&:hover {
			@apply text-gray-600 dark:text-gray-300
		}
	}

	.toggle-button-active {
		@apply text-primary bg-white border-gray-300 dark:bg-gray-800 dark:border-gray-600;
	}
}
