@layer components {
	.btn-primary {
		@apply
			px-4 py-2 font-semibold text-sm rounded-md text-center
			focus:outline focus:outline-2 focus:outline-offset-1
			text-white bg-primary-700 hover:bg-primary-800 focus:outline-primary-300 shadow-sm
			dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:outline-primary-800 dark:shadow-none
		;
	}

	.btn-primary-disabled {
		@apply
			px-3.5 py-2 font-semibold text-sm rounded-md text-center cursor-not-allowed
			text-white bg-primary-400
			dark:text-gray-400 dark:bg-primary-800
		;
	}

	.btn-secondary {
		@apply
			px-4 py-2 font-semibold text-sm rounded-md text-center
			ring-1 ring-inset shadow-sm
			text-gray-900 bg-white ring-gray-300 hover:bg-gray-50
			dark:text-white dark:bg-gray-800 dark:ring-0 dark:hover:bg-gray-700/60
		;
	}

	.btn-secondary-disabled {
		@apply
			px-3.5 py-2 font-semibold text-sm rounded-md text-center cursor-not-allowed
			ring-1 ring-inset shadow-sm
			text-gray-400 bg-gray-50/75 ring-gray-300
			dark:text-gray-600 dark:bg-gray-800 dark:ring-gray-600
		;
	}

	.btn-icon {
		@apply btn-secondary flex items-center p-[0.5rem];
	}

	.btn-link {
		@apply
			font-medium rounded-lg
			text-gray-700 bg-transparent hover:text-gray-900
			dark:text-gray-300 dark:hover:text-white
		;
	}

	.toggle-box {
		@apply
			inline-flex items-center flex-row p-1 border rounded-lg
			bg-gray-50 border-gray-100/70 dark:bg-gray-700/60 dark:border-gray-700/70
		;
	}

	.toggle-button {
		@apply px-3 py-1.5 rounded text-secondary text-sm font-medium;
	}

	.toggle-button-inactive {
		@apply cursor-pointer;

		&:hover {
			@apply text-gray-600 dark:text-gray-300
		}
	}

	.toggle-button-active {
		@apply text-primary shadow bg-white dark:bg-gray-800;
	}
}
