@import "mediafile.css";
@import "codestyle.css";

.breadcrumb-list {
	@apply w-full text-sm font-medium whitespace-nowrap overflow-hidden;

	&.fade {
		mask-image: linear-gradient(to right, black 75%, transparent 90%);
	}

	.bchead {
		@apply text-secondary inline mr-2;
	}

	// hide first separator; usually gets removed by the backend
	.bchead + .bcsep {
		display: none;
	}

	.bcsep {
		@apply text-gray-400 dark:text-gray-500;
	}

	a {
		@apply
			inline text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white
		;
	}
}

.page-tool-btn svg {
	@apply w-4 h-4 fill-gray-700 dark:fill-white;
}

// Main content and left sidebar
.dw-action-show, .dw-action-preview .preview, .dokuwiki-sidebar {
	@apply typography;

	// current link
	.curid, .curid a {
		@apply font-semibold;
	}

	// Images
	.media, .mediaright, .medialeft, .mediacenter {
		@apply inline m-0 h-[revert-layer];
	}
	.mediaright {
		@apply float-right;
	}
	.medialeft {
		@apply float-left;
	}
	.mediacenter {
		@apply block mx-auto;
	}
}

.dokuwiki-main {
	@apply prose-headings:scroll-mt-20;

	a.fn_top {
		@apply scroll-mt-20;
	}
}

.dokuwiki-main:not(.dw-action-show) {
	h1 {
		// TODO: @apply typography;
	}

	p {
		// TODO: @apply typography text-sm;
	}
}

// Footer
footer .license a {
	@apply inline-block underline;
}

// Success / error box at the top of the page
.notify, .success, .error {
	@apply mx-4 md:mx-6 lg:mx-8 mt-6 mb-8 p-4 text-sm rounded-lg;

	a {
		@apply underline;
	}
}

.notify {
	@apply text-sky-800 bg-sky-50 dark:text-sky-400 dark:bg-sky-800;
}

.success {
	@apply text-green-800 bg-green-50 dark:text-green-400 dark:bg-gray-800;
}

.error {
	@apply text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800;
}
