@import "mediafile.css";
@import "codestyle.css";

.breadcrumb-list {
	@apply w-full text-sm font-medium whitespace-nowrap overflow-hidden;

	&.fade {
		mask-image: linear-gradient(to right, black 75%, transparent 90%);
	}

	.bchead {
		@apply text-secondary inline mr-2;
	}

	// hide first separator; usually gets removed by the backend
	.bchead + .bcsep {
		display: none;
	}

	.bcsep {
		@apply text-gray-400 dark:text-gray-500;
	}

	a {
		@apply
			inline text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white
		;
	}
}

.page-tool-btn {
	svg {
		@apply w-4 h-4 fill-gray-700 dark:fill-gray-400;
	}

	&:hover svg {
		@apply fill-primary-700 dark:fill-white;
	}
}

// Main content and left sidebar
.dokuwiki, .dokuwiki-sidebar {
	// extend the Tailwindcss typography
	&:where(.prose) {
		@apply
			prose-headings:scroll-mt-20
			prose-pre:rounded-lg
			prose-ul:my-2 prose-li:my-1
			prose-table:text-base
			prose-code:p-0.5
			prose-code:rounded
			prose-code:text-primary-800
			prose-code:bg-primary-50
			dark:prose-code:text-primary-300
			dark:prose-code:bg-primary-950
		;
	}

	// increase the font weight of h5 headers
	h5 {
		@apply font-semibold;
	}

	// Fix lists
	li .li {
		@apply my-0;
	}

	// Underline text
	em.u {
		@apply not-italic underline;
	}

	// current link
	.curid, .curid a {
		@apply font-semibold;
	}

	// footnotes
	a.fn_top {
		@apply link-primary scroll-mt-20;
	}

	// footnote popup
	div.insitu-footnote {
		@apply dropdown-container p-3 w-fit max-w-[40%];
	}

	// regular links
	a.wikilink1, a.urlextern, a.mail, a.windows, a.mediafile, a.interwiki {
		@apply link-primary font-inherit;
	}

	// Special links with icons
	a.urlextern, a.mail, a.windows, a.mediafile, a.interwiki {
		@apply py-0 pr-0 pl-[1.4rem] ml-0.5 bg-no-repeat bg-left bg-contain;
	}

	// Link icons have the forground #6b7280 (same as gray-500) or #9ca3af (same as gray-400) at dark mode.

	a.urlextern {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=link-external&color=gray-500')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=link-external&color=gray-400')]
		;
	}
	a.mail {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=email&color=gray-500')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=email&color=gray-400')]
		;
	}
	a.windows {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=windows-share&color=gray-500')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=windows-share&color=gray-400')]
		;
	}

	// for "a.mediafile" see the import statement at the top of this file

	a.interwiki {
		&.iw_amazon, &.iw_amazon_de, &.iw_amazon_uk {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=amazon&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=amazon&color=gray-400')]
			;
		}
		&.iw_callto, &.iw_tel {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=callto&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=callto&color=gray-400')]
			;
		}
		&.iw_doku {
			@apply bg-[url('/lib/images/interwiki/doku.svg')];
		}
		&.iw_go, &.iw_google {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=google&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=google&color=gray-400')]
			;
		}
		&.iw_paypal {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=paypal&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=paypal&color=gray-400')]
			;
		}
		&.iw_phpfn {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=php&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=php&color=gray-400')]
			;
		}
		&.iw_rfc {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=rfc&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=rfc&color=gray-400')]
			;
		}
		&.iw_skype {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=skype&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=skype&color=gray-400')]
			;
		}
		&.iw_this {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=rss&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=rss&color=gray-400')]
			;
		}
		&.iw_user {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=user&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=user&color=gray-400')]
			;
		}
		&.iw_man {
			@apply
				bg-[url('/lib/tpl/tailwind/icon.php?icon=cmd&color=gray-500')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=cmd&color=gray-400')]
			;
		}
		&.iw_wp, &.iw_wpde, &.iw_wpes, &.iw_wpfr, &.iw_wpjp, &.iw_wpmeta, &.iw_wppl {
			@apply // icons are gray-900 / gray-100 because the Wikipedia logo is too thin
				bg-[url('/lib/tpl/tailwind/icon.php?icon=wikipedia&color=gray-900')]
				dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=wikipedia&color=gray-100')]
			;
		}
	}

	// dead links
	a.wikilink2 {
		@apply link-error font-inherit;
	}

	// Fix the margin in downloadable code blocks
	dl.code, dl.file {
		@apply mt-6 mb-7;

		dt {
			@apply box-header flex flex-nowrap items-center justify-between space-x-4 pl-4 pr-3 py-3;
		}

		dd {
			@apply box-b p-0 bg-gradient-to-r border-x border-b rounded-b-lg;

			pre.code {
				@apply m-0 rounded-t-none rounded-b-lg;
			}
		}
	}

	// Images
	img.media, img.mediaright, img.medialeft, img.mediacenter {
		@apply inline m-0 h-[revert-layer];
	}
	img.mediaright {
		@apply float-right;
	}
	img.medialeft {
		@apply float-left;
	}
	img.mediacenter {
		@apply block mx-auto;
	}

	img.icon.smiley {
		@apply inline h-[1.2rem] m-0;
	}

	// Footnotes (in text)
	a.fn_top {
		@apply no-underline;
	}
}

// Other styles of the main content not included in the sidebar
.dokuwiki {
	// Section edit button
	.secedit {
		@apply opacity-0 hover:opacity-100 text-right;

		.btn_secedit {
			@apply
				inline-block absolute
				-translate-x-full // move by its own width to the left
			;

			// add a hovable whitespace at the top of the button
			&::before {
				@apply content-[''] absolute h-16 w-20 bottom-0 right-0 -z-[1];
			}

			button {
				@apply btn-icon ml-auto -mt-3;
			}
		}
	}

	// hover on the previous sections displays the button
	*:hover + .secedit {
		@apply opacity-100;
	}

	// Footnotes (at the bottom)
	.footnotes {
		a {
			@apply link-primary font-inherit;
		}

		.content {
			@apply inline;
		}
	}
}

// Footer
footer .license a {
	@apply inline-block underline;
}

// Success / error box at the top of the page
.success, .error {
	@apply mx-4 md:mx-6 lg:mx-8 mt-6 mb-8 p-4 text-sm rounded-lg;
}

.success {
	@apply text-green-800 bg-green-50 dark:text-green-400 dark:bg-gray-800;
}

.error {
	@apply text-red-800 bg-red-50 dark:text-red-400 dark:bg-gray-800;
}
