.diffoptions {
	@apply mt-6 flex flex-nowrap items-center;

	.doku_form {
		@apply flex-grow;

		.quickselect {
			span {
				@apply input-label mr-2;
			}

			select {
				@apply input-select inline-block;
			}
		}

		& + p {
			@apply my-0;
		}
	}

	.difflink {
		@apply btn-secondary no-underline;
	}
}

// Diff header and footer for having round edges

.diff-header, .diff-footer {
	@apply box-hf w-full h-4 block border-x;
}

table.diff {
	@apply
		mt-6 w-full overflow-x-auto
		box-b rounded-lg border border-spacing-0 border-separate
	;

	th {
		@apply text-secondary p-4 w-1/2 text-sm font-medium bg-white dark:bg-gray-800;

		.sum {
			@apply text-primary;
		}

		.wikilink1 {
			@apply link-primary;
		}
	}

	.diffnav {
		@apply text-center pt-4 pb-1;

		a {
			@apply btn-icon align-middle inline-flex;

			&.diffbothprevrev {
				@apply mr-2;
			}

			&.diffbothnextrev {
				@apply ml-2;
			}

			span {
				@apply hidden;
			}

			&:before {
				@apply w-4 h-4;
			}
		}

		a.diffbothprevrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-left&color=gray-500')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-left&color=gray-400')]
			;
		}

		a.diffprevrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-left&color=gray-500')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-left&color=gray-400')]
			;
		}

		a.diffbothnextrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-right&color=gray-500')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-double-right&color=gray-400')]
			;
		}

		a.diffnextrev:before, a.difflastrev:before {
			@apply
				content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-500')]
				dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-400')]
			;
		}

		.doku_form {
			@apply inline;
		}

		select.quickselect {
			@apply input-select inline mx-2 py-2 w-[50%] bg-white dark:bg-gray-800;
		}
	}

	// Default formatting of table cells
	td:not(.diffnav) {
		@apply px-1 py-0.5 font-mono text-xs align-middle;

		&.empty {
			@apply bg-gray-100 dark:bg-gray-800;
		}

		// Borders
		&:not(:first-child) {
			&.diff-lineheader, &.empty {
				@apply box-b border-l;
			}
		}

		&.diff-blockheader {
			@apply text-secondary px-3 py-1.5 font-medium bg-sky-100 dark:bg-sky-900;
		}

		&.diff-lineheader {
			@apply w-0 text-center align-top bg-gray-50 dark:bg-gray-800/[0.5];

			&.added {
				@apply bg-green-100 dark:bg-green-900;
			}
			&.deleted {
				@apply bg-red-100 dark:bg-red-900;
			}
		}

		// important so all diff-lineheaders have the same width
		&.diff-context, &.diff-addedline, &.diff-deletedline {
			@apply w-[47%];
		}

		&.diff-addedline {
			@apply align-top bg-green-50 dark:bg-green-950;

			.diff-mark {
				@apply bg-green-200 dark:bg-green-800;
			}
		}

		&.diff-deletedline {
			@apply align-top bg-red-50 dark:bg-red-950;

			.diff-mark {
				@apply bg-red-200 dark:bg-red-800;
			}
		}
	}

	tr {
		&:first-child > * {
			&:first-child {
				@apply rounded-tl-lg;
			}

			&:last-child {
				@apply rounded-tr-lg;
			}
		}

		&:last-child > * {
			&:first-child {
				@apply rounded-bl-lg;
			}

			&:last-child {
				@apply rounded-br-lg;
			}
		}
	}
}

// Modifications for the inline diff editor
table.diff_inline {
	td:not(.diffnav) { // using the same selector to have the same precedence
		&.diff-lineheader {
			@apply p-0 w-[0%];
		}

		.diff-addedline {
				@apply bg-green-200 dark:bg-green-800;
		}

		.diff-deletedline {
				@apply bg-red-200 dark:bg-red-800;
		}

		&.diff-addedline {
			@apply bg-green-100 dark:bg-green-900;
		}

		&.diff-deletedline {
			@apply bg-red-100 dark:bg-red-900;
		}
	}
}

// Modifications for the draft page
table.diff_sidebyside {
	tr:first-child th {
		@apply border-t;
	}
}
