.dw-action-edit, .dw-action-preview {
	> p {
		@apply text-sm;
	}
}

.dokuwiki .editBox {
	@apply
		w-full mt-10;
	;

	div.toolbar {
		@apply box-header flex flex-nowrap items-center justify-between;
	}

	.tool__bar {
		@apply flex flex-nowrap items-center space-x-1.5;

		button {
			@apply p-[0.1875rem] rounded hover:bg-gray-50 dark:hover:bg-gray-600;
		}

		img {
			@apply my-0 w-5 h-5;
		}
	}

	// draft status
	.draft-icon {
		@apply flex w-3 h-3 mr-2 rounded-full bg-green-500;

		&.draft-error {
			@apply bg-red-500;
		}

		&.empty {
			@apply hidden;
		}
	}

	#draft__status {
		@apply hidden; // hide the old draft status
	}

	.doku_form {
		textarea.edit {
			@apply
				box-b block w-full p-4 font-mono text-[0.875rem] leading-[1.3rem] border-x border-y-0 focus:ring-0
				text-gray-800 bg-white dark:text-gray-100 dark:bg-gray-800 dark:placeholder-gray-400
			;
		}

		.editBar {
			@apply grid;

			#size__ctl {
				@apply box-footer order-1 flex flex-nowrap items-center justify-end space-x-2;

				img {
					@apply cursor-pointer opacity-100 dark:opacity-50;
				}
			}

			.editButtons {
				@apply order-3;
			}

			.summary {
				@apply order-2 my-8 block;

				label span {
					@apply input-label block;
				}

				label[for="edit__summary"] {
					span {
						@apply block mb-2;
					}

					input {
						@apply mb-4 block w-full;

						&:not(.missing) {
							@apply input-text;
						}

						&.missing {
							@apply input-text-error;
						}
					}
				}

				label[for="edit__minoredit"] {
					@apply flex items-center space-x-3;

					input {
						@apply input-checkbox;
					}
				}
			}

			.editButtons {
				@apply flex items-center justify-end;

				button[name="do[preview]"] {
					@apply btn-secondary order-1 mr-2;
				}

				button[name="do[cancel]"] {
					@apply btn-secondary order-2 mr-2;
				}

				button[name="do[save]"] {
					@apply btn-primary order-3 mr-0;
				}
			}
		}
	}

	.license {
		@apply
			p-4 mt-12 mb-2 text-sm text-center rounded-lg
			text-primary-700 bg-primary-50 dark:text-primary-400 dark:bg-primary-950
		;

		a {
			@apply p-0 inline-block text-inherit underline bg-none;
		}
	}
}

// Link picker
#link__wiz {
	@apply absolute z-20 overflow-hidden;

	// reduce padding and input
	input {
		@apply ml-2 px-2 py-1.5 dark:dark:bg-gray-600;
	}

	// remove padding from content
	.ui-dialog-content {
		@apply pb-0;

		// input container
		div:first-child {
			@apply flex items-center;

			input {
				@apply flex-grow;
			}
		}
	}
}

// Main content of the link picker
#link__wiz_result {
	@apply p-0 mt-4 w-[32rem] max-h-64 overflow-auto border-t border-gray-100 dark:border-gray-600;

	// files and directories
	.type_d, .type_f, .type_u {
		@apply
			py-1.5 pl-10 pr-4 bg-no-repeat bg-[0.75rem_0.6rem] bg-[length:1.25rem]
			text-hover
		;

		&:not(:last-child) {
			@apply border-b border-gray-100 dark:border-gray-600;
		}
	}

	.wikilink1 {
		@apply font-normal text-inherit;
	}

	// folders
	.type_f {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=file&color=gray-500')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=file&color=gray-400')]
		;

		span {
			@apply ml-1.5 text-secondary;

			&:before {
				@apply content-['('];
			}
			&:after {
				@apply content-[')'];
			}
		}
	}

	// directories
	.type_d, .type_u {
		@apply
			bg-[url('/lib/tpl/tailwind/icon.php?icon=folder&color=primary-400')]
			dark:bg-[url('/lib/tpl/tailwind/icon.php?icon=folder&color=primary-500')]
		;
	}

	// go back
	.type_u a {
		@apply text-secondary no-underline hover:text-gray-600 dark:hover:text-gray-200;
	}
}

// Picker menus
div.picker {
	@apply z-50 p-2 max-w-md bg-white rounded-lg shadow dark:bg-gray-700;

	.pk_hl img {
		@apply w-5 h-5;
	}

	&:not(.pk_hl) {
		@apply grid grid-cols-[repeat(16,minmax(0,1fr))];

		button[title="FIXME"], button[title="DELETEME"] {
			@apply col-span-3;
		}
	}

	.toolbutton, .pickerbutton {
		@apply p-1 inline-flex items-center justify-center rounded hover:bg-gray-100 dark:hover:bg-gray-600;
	}

	&.a11y {
		@apply hidden;
	}
}
