.index__tree {
	@apply mt-8 w-full min-h-[25vh];

	a {
		@apply
			text-gray-500 dark:text-gray-400 font-medium no-underline
			hover:text-gray-700 hover:dark:text-gray-300
		;

		&.wikilink1 {
			@apply font-inherit;
		}
	}

	strong {
		@apply font-medium;
	}

	ul {
		@apply pl-5;
	}

	li {
		@apply list-none pl-0 py-0.5;
	}

	div.li a {
		@apply relative;

		&:before {
			@apply absolute w-4 h-4 top-0 -left-5;
		}
	}

	// remove hover effect on folders
	li.closed, li.open {
		& > div.li a {
			@apply hover:text-secondary;
		}
	}

	li.closed > div.li a:before {
		@apply
			content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-500')]
			dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-400')]
		;
	}

	li.open > div.li a:before {
		@apply
			content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=gray-500')]
			dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=gray-400')]
		;
	}
}
