form.doku_form.search-results-form {
	@apply mt-10;

	.search-form {
		@apply relative flex items-center justify-between;

		input {
			@apply input-text text-sm order-2 w-full;
		}

		button.toggleAssistant {
			@apply btn-secondary order-1 mr-2 flex items-center space-x-2 min-w-fit;

			&:after {
				@apply
					w-4 h-4 ml-1 -mr-1
					content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=gray-900')]
					dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-down&color=gray-400')]
				;
			}

			&[aria-expanded="true"]:after {
				@apply
					content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-up&color=gray-900')]
					dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-up&color=gray-400')]
				;
			}
		}

		div.advancedOptions {
			@apply dropdown-container divide-y-0 py-1 order-3 absolute top-14 left-0;

			div.current {
				@apply dropdown-element flex items-center justify-between cursor-pointer;

				&:after {
					@apply
						w-4 h-4 ml-2
						content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-500')]
						dark:content-[url('/lib/tpl/tailwind/icon.php?icon=chevron-right&color=gray-400')]
					;
				}
			}

			div.toggle {
				@apply relative w-full;

				ul { // the option dropdown
					@apply dropdown-container divide-y-0 py-1 order-3 absolute -top-2 -right-1 translate-x-full text-sm;
				}

				ul[aria-expanded="true"] {
					@apply block;
				}

				li {
					@apply text-secondary p-0 block px-4 py-2;

					&.active, &:not(:has(a)) {
						@apply hover:!bg-transparent;
					}

					&:not(.active) {
						@apply hover:bg-gray-100 dark:hover:bg-gray-600;
					}

					> a {
						@apply cursor-pointer no-underline text-gray-700 dark:text-gray-200;
					}
				}
			}
		}

		button[type="submit"] {
			@apply btn-primary order-3 ml-2;
		}
	}
}

.search_quickresult {
	ul {
		@apply prose-ul;

		a {
			@apply text-base;
		}
	}
}

.search_fulltextresult {
	.search_results {
		@apply space-y-6;
	}

	.search_fullpage_result {
		dt { // result header
			a {
				@apply text-primary text-base font-medium;

				&.wikilink1 {
					@apply link-primary;
				}

				&:not(.wikilink1) { // namespace
					@apply text-secondary no-underline hover:underline;
				}
			}
		}

		dd.meta { // page info
			@apply text-sm font-normal mb-1.5 text-gray-400 dark:text-gray-500;
		}

		dd.snippet { // content
			@apply text-sm font-normal leading-relaxed text-gray-600 dark:text-gray-400;

			.search_hit {
				@apply px-0.5 py-0.5 rounded font-medium text-yellow-800 bg-yellow-100 dark:text-yellow-300 dark:bg-yellow-900;
			}
		}
	}
}
