// Modify some sidebar elements
.dokuwiki-sidebar {
	// Apply several adjustments for the sidebar
	@apply
		prose-sm
		prose-p:text-secondary prose-p:my-2
		prose-strong:text-secondary
		prose-em:text-secondary
	;

	hr {
		@apply my-6;
	}

	// Sidebar nav lists
	.sidebar-nav-list {
		@apply my-2 pl-0 list-none;

		li {
			@apply pl-0;
		}

		// Add an hover effect to nav items
		.sidebar-nav-item {
			@apply nav-item text-sm -mx-3;
		}

		// links
		a.sidebar-nav-item {
			@apply no-underline hover:no-underline;

			// links with icon
			&.urlextern, &.mail, &.windows, &.mediafile, &.interwiki {
				@apply pl-[2.125rem] bg-no-repeat bg-[center_left_0.65rem] bg-[length:1.25rem];
			}

			// non-existing links
			&.wikilink2 {
				@apply text-red-700 dark:text-red-500;
			}
		}
	}
}
