.dokuwiki, .dokuwiki-sidebar {
	// extend the Tailwindcss typography
	@apply
		w-full max-w-none
		prose dark:prose-invert

		// several adjustments
		first:prose-p:mt-0
		prose-pre:rounded-lg
		prose-ul:my-2 prose-li:my-1
		prose-table:text-base

		// code
		prose-code:p-0.5
		prose-code:rounded
		prose-code:text-primary-800
		prose-code:bg-primary-50
		dark:prose-code:text-primary-300
		dark:prose-code:bg-primary-950

		// increase the font weight of h5 headers
		prose-h5:font-semibold;
	;

	// Fix lists
	li .li {
		@apply is-prose:my-0;
	}
}
